@import 'colors';
footer{
  min-height: 90px;
  line-height: 90px;
  text-align: center;
  color: $lightgray;
  a{
    color: $red;
    text-decoration: none;
  }
}

@media screen and (max-width: 590px){
  footer{
    font-size: 17px;
  }
}